bin/
obj/
/packages/
.idea/.idea.WinFormsApp1/.idea/contentModel.xml
.idea/.idea.WinFormsApp1/.idea/encodings.xml
.idea/.idea.WinFormsApp1/.idea/indexLayout.xml
.idea/.idea.WinFormsApp1/.idea/modules.xml
.idea/.idea.WinFormsApp1/.idea/projectSettingsUpdater.xml
.idea/.idea.WinFormsApp1/.idea/vcs.xml
.idea/.idea.WinFormsApp1/riderModule.iml
WindowsFormsApp1/RB.cs
WindowsFormsApp1/test.txt
